html,body,#wrapper {
	width: 100%;
	height: 100%;
	margin: 0px;
	background-color:white;
}

.chart {
	font-family: Arial, sans-serif;
	font-size: 12px;
}

.axis path,.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.bar {
	fill: #33b5e5;
}

.bar-failed {
	fill: #CC0000;
}

.bar-running {
	fill: #669900;
}

.bar-succeeded {
	fill: #33b5e5;
}

.bar-killed {
	fill: #ffbb33;
}

.bar-text  {
	font-family: Arial, sans-serif;
	font-size: 8px;
	fill: black;
}
div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 60px;                  
  height: 28px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: #F3F3B0;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}